<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dojodachi</title>
    <link rel="stylesheet" href="~/css/style.css"/>
  </head>
  <body>
    <div class="container">
        <div class="main_box">
            <p>
                Fullness: @ViewBag.fullness   Happiness: @ViewBag.happiness   Meals: @ViewBag.meals   Energy: @ViewBag.energy
            </p>
            <div>
                <p>
                    @ViewBag.status
                </p>
            </div>
            <form action="feed" method="post">
                <input type="submit" value="feed">
            </form>
            <form action="play" method="post">
                <input type="submit" value="play">
            </form>
            <form action="work" method="post">
                <input type="submit" value="work">
            </form>
            <form action="sleep" method="post">
                <input type="submit" value="sleep">
            </form>
        </div>
    </div>
  </body>
</html>
